.CommentList {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CommentList .commentInput {
    width: 100%;
    margin-top: 24px;
}

.CommentList input {
    width: 65%;
}

.CommentList .commentInputBar {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}
.CommentList .submitBtn {
    width: 30%;
}
