/* PostList */
.PostList {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;

    width: 80%;
}

.PostList .ControlMenu {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
    font-family: "Hahmlet";
    font-size: 18px;
}

.PostList .spacer {
    width: 44%;
}
