.PostItem {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.PostItem video {
    height: auto;
}
.PostItem .VideoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.PostItem .card-header {
    height: 500px;
    overflow: hidden;
    padding: 0;
    display: flex;
}
.PostItem .Card {
    width: 90%;
    height: 100%;
}
